<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="xyz.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Samarth pumping solutions</title>
</head>

<body>
    <div id="header">
        <span id="logo"></span>
        
        <a href="#pointabout" class="headc" id="abt">About Us</a>
        <a href="#explore" class="headc" id="products">Products</a>
        <a href="#reachus" class="headc" id="contact">Contact Us</a>

        <div id="dropdown1">
            <p class="ddline" id="ddline1"></p>
            <p class="ddline" id="ddline2"></p>
            <p class="ddline" id="ddline3"></p>
        </div>

        <div id="ddopts">
            <a href="#pointabout" class="ddoption" style="border-bottom: solid black 3px;">About Us</a>
            <a href="#explore1" class="ddoption" style="border-bottom: solid black 3px;">Products</a>
            <a href="#reachus1" class="ddoption">Contact Us</a>
        </div>
    </div>

    <div id="your1">
        <p id="ally">Your All Pumping Solutions In &nbsp; <span id="betwn1">1</span> &nbsp;  Place</p>
    </div>
    <div id="motorimgs">
        <p id="motorimg1"></p>
        <p id="motorimg2"></p>
        <p id="motorimg3"></p>
    </div>

    <div id="imgcarous">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/motor_img1.svg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/motor_img2.svg" class="d-block w-100" alt="..." style="margin-top: 100px;">
                </div>
                <div class="carousel-item">
                    <img src="img/motor_img3.svg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
        
    
    <p id="offring">OUR OFFERINGS</p>
    
    <div id="cards">
        <p class="cardin">
            <span class="cardhad">KIRLOSKAR PUMPS | SPARES | SERVICES</span><br>
            <span class="cardhadin">Water Application | Process Pump | Fire-Fighting Pump-Sets</span>
        </p>
        
        <p class="cardin">
            <span class="cardhad">ELECTRICAL MOTORS</span><br>
            <span class="cardhadin">Kirloskar Ele  Motors | Hindustan Ele. Motors | Crompton Greaves Ltd.</span>
        </p>
        
        <p class="cardin">
            <span class="cardhad">OTHER PRODUCTS</span><br>
            <span class="cardhadin">Mechanical seals Magnetic pump Gear Pumps | Dosing pump | AODPump Food Grad | P.P Monopump</span>
        </p>
    </div>


    <div id="ouroffrcarous">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p class="cardin" id="card2">
                        <span class="cardhad">KIRLOSKAR PUMPS | SPARES | SERVICES</span><br>
                        <span class="cardhadin">Water Application | Process Pump | Fire-Fighting Pump-Sets</span>
                    </p>
                </div>
                <div class="carousel-item">
                    <p class="cardin" id="card3">
                        <span class="cardhad">ELECTRICAL MOTORS</span><br>
                        <span class="cardhadin">Kirloskar Ele  Motors | Hindustan Ele. Motors | Crompton Greaves Ltd.</span>
                    </p>
                </div>
                <div class="carousel-item">
                    <p class="cardin" id="card1">
                        <span class="cardhad">OTHER PRODUCTS</span><br>
                        <span class="cardhadin">Mechanical seals Magnetic pump Gear Pumps | Dosing pump | AODPump Food Grad | P.P Monopump</span>
                    </p>
                </div>
            </div>
        </div>
    </div>


<div>
    <a id="scrollup" href="#header"></a>

    <p id="pointabout" style="position: absolute; margin-top: 170px;"></p>
    <div id="about">
        <p id="aboutus" data-aos="fade-right" data-aos-offset="350">ABOUT US</p>
        <p class="abmaterial" data-aos="fade-right"  data-aos-offset="280">
            Born from a passion for pumping perfection, Samarth Enterprises has risen since 2020 to become your trusted partner for all things water flow. We don't just sell pumps; we craft customized solutions that meet your unique needs. <br>
        </p>
            <p class="abmaterial" data-aos="fade-right" data-aos-offset="156">Our Promise:</p> 
            <ul id="abpoint" data-aos="fade-right" data-aos-offset="128">
                <li>Quality Runs Deep: Explore our range of renowned brands, built for exceptional durability and performance.</li>
                <li>Pricing Transparently: We believe in clear communication and offer guaranteed options to fit your budget.</li>
                <li>Satisfaction Unwavering: Your satisfaction is our flow. We go the extra mile, ensuring optimal results and ongoing support.</li>
            </ul> 
        <p class="abmaterial" data-aos="fade-right" data-aos-offset="-30">
            Building long-lasting relationships, drop by drop: <br>
            <ul id="abpoint" data-aos="fade-right" data-aos-offset="-50">
                <li>
                    At Samarth Enterprises, we're here to be your long-term partner in water flow management. With experience, expertise,
                    and unwavering commitment, we help you achieve your goals and ensure smooth operation.
                </li>
            </ul>
        </p>

        <p id="workimg" data-aos="fade-left" data-aos-offset="248"></p>
    </div>

    <div id="dbbi">
        <p id="dealingwith" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="300">DEALING WITH TOP BRANDS.</p>
        <p id="brandsimg" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="300"></p>
        <p id="busihandshak" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="300"></p>
        <p id="inrealm" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="300">IN THE REALM OF EXCELLENCE, WE WALK HAND IN HAND WITH THE BEST BRANDS.</p>
    </div>


    <div id="category">
        <div id="categ">
            <p id="explore">EXPLORE OUR RANGE OF PUMPS</p>
            <p id="filter">SEARCH BY CATEGORY</p>
            <a href="#pointcons" id="construction" class="categname">Construction</a><br>
            <a href="#pointchem" id="chemical" class="categname">Chemical & Pharma</a><br>
            <a href="#pointirrig" id="irrigation" class="categname">Irrigation</a><br>
            <a href="#pointog" id="oil" class="categname">Oil & Gas</a><br>
            <a href="#pointsteel" id="steel" class="categname">Steel</a><br>
            <a href="#pointsugar" id="sugar" class="categname">Sugar</a><br>
        </div>
  
        <div id="categ1">
            <p id="explore1">EXPLORE OUR RANGE OF PUMPS</p>
            <select name="myname" id="filter1" onchange="location = this.value;">
                <option>SEARCH BY CATEGORY</option>
                <option value="#pointcons">Construction</option>
                <option value="#pointchem">Chemical & Pharma</option>
                <option value="#pointirrig">Irrigation</option>
                <option value="#pointog">Oil & Gas</option>
                <option value="#pointsteel">Steel</option>
                <option value="#pointsugar">Sugar</option>
            </select>
        </div>
        
        <div id="bkrloskr">
            <p id="krloskrimg"></p>
            <p id="kmaterial">KIRLOSKAR PUMPS, MOTORS & SPARES</p>
            <p id="kkmaterial">"FUELING INNOVATION THROUGH OUR ENDURING PARTNERSHIP WITH KIRLOSKAR ELECTRIC, WHERE SHARED VISION POWERS PROGRESS."</p>
        </div>
        
        <p id="pointcons"></p>
        <!-- --------------------------------------------------------------- -->
        
    <p class="catgheading">
        Construction
    </p>
    
    <div class="crds">
        <div class="cards">
            <p id="consimg1" class="crdsimg"></p>
            <strong class="crdhead">Mobile Dewatering/Flood Control Unit - Autoprime Pump-set</strong>
            <p>The Autoprime pump by KBL, is a unique mobile pumping unit used for dewatering purposes, primarily during a flood-like situation. The pump set comes with an easy plug and play for quick startup and requires no manual intervention during priming, which makes it very easy to operate.</p>
        </div>

        <div class="cards">
            <p id="consimg2" class="crdsimg"></p>
            <strong class="crdhead">Solid Handling Pump - SHM</strong> <br><br>
            <p>Kirloskar SHM solid handling pumps are single stage, single suction pumps with a back pull out type design. These are horizontal non-clog pumps while SHS are vertical non-clog pumps used for wet pit applications. These solid handling pumps can be offered with a column length up to 6.5m.</p>
        </div>

        <div class="cards">
            <p id="consimg3" class="crdsimg"></p>
            <strong class="crdhead">Submersible Sewage Dewatering Pump - BW</strong>
            <p> Removing stagnant water from basement/underground parkings/garages, etc., draining accumulated storm water during monsoon, emptying water tanks and pits for cleaning, draining waste water from kitchens, hotels, clubs, etc., removing surplus water from sumps.</p>
        </div>

        <div class="cards">
            <p id="consimg4" class="crdsimg"></p>
            <strong class="crdhead">Submersible Sewage Dewatering Pump - CW</strong>
            <p>Sewage pumping, dewatering from basements, multi-storeys, shopping malls, godowns, construction site ,trenches and pits, flood water handling.</p>
        </div>
        
        <p id="line" ></p>
    </div>


<!--mobile view  -->
    <div class="conteudo">
        <div class="carrousel">
            <div class="carrd">
                <p id="consimg1" class="crdsimg"></p>
                <strong class="hmaterrial">Mobile Dewatering/Flood Control Unit - Autoprime Pump-set</strong>
                <p class="inmaterrial">The Autoprime pump by KBL, is a unique mobile pumping unit used for dewatering purposes, primarily during a flood-like situation. The pump set comes with an easy plug and play for quick startup and requires no manual intervention during priming, which makes it very easy to operate.</p>
            </div>

            <div class="carrd">
                <p id="consimg2" class="crdsimg"></p>
                <strong class="hmaterrial">Solid Handling Pump - SHM</strong>
                <p class="inmaterrial" style="margin-top: 65px;">Kirloskar SHM solid handling pumps are single stage, single suction pumps with a back pull out type design. These are horizontal non-clog pumps while SHS are vertical non-clog pumps used for wet pit applications. These solid handling pumps can be offered with a column length up to 6.5m.</p>
            </div>

            <div class="carrd">
                <p id="consimg3" class="crdsimg"></p>
                <strong class="hmaterrial">Submersible Sewage Dewatering Pump - BW</strong>
                <p class="inmaterrial"> Removing stagnant water from basement/underground parkings/garages, etc., draining accumulated storm water during monsoon, emptying water tanks and pits for cleaning, draining waste water from kitchens, hotels, clubs, etc., removing surplus water from sumps.</p>
            </div>

            <div class="carrd">
                <p id="consimg4" class="crdsimg"></p>
                <strong class="hmaterrial">Submersible Sewage Dewatering Pump - CW</strong>
                <p class="inmaterrial">Sewage pumping, dewatering from basements, multi-storeys, shopping malls, godowns, construction site ,trenches and pits, flood water handling.</p>
            </div>
        </div>  
    </div>

    <p id="pointchem"></p>

    <!-- --------------------------------------------------------------- -->
        
    <p class="catgheading" style="margin-top: 22px;">
        Chemical and Pharma
    </p>

    <div class="crds">
        <div class="cards" id="chemcrd1">
            <p id="chemimg1" class="crdsimg"></p>
            <strong class="crdhead">Air Cooled Thermic Fluid Process Pump - AT</strong>
            <p>Kirloskar Air Cooled Thermic Fluid AT series of process pumps come with a back pull out design, which enables to remove the rotating unit of pump for inspection and repairs without disturbing suction and delivery pipe connections.</p>
        </div>

        <div class="cards" id="chemcrd2">
            <p id="chemimg2" class="crdsimg"></p>
            <strong class="crdhead">Magnetic Drive Process Pump - ROMAK</strong> 
            <p>Kirloskar’s Romak process pumps are used for handling various types of CLEAR & CLEAN chemical liquids with leak-free transportation. These pumps are manufactured to close tolerance and are of rigid construction. Romak (RMK) pump is a magnetic drive pump.</p>
        </div>

        <div class="cards" id="chemcrd3">
            <p id="chemimg3" class="crdsimg"></p>
            <strong class="crdhead">End Suction Process Pump - GK(P)</strong>
            <p> Kirloskar GK(P) pumps are used for handling various types of chemical liquids. These pumps are manufactured to close tolerance and are of rigid construction. GK(P) pumps are mainly used in process industries. The complete range of GK(P) process pumps is covered by four driving units, thereby reducing inventory and achieving interchangeability.</p>
        </div>

        <div class="cards" id="chemcrd4">
            <p id="chemimg4" class="crdsimg"></p>
            <strong class="crdhead">Canned Motor Process Pump - I-CM</strong>
            <p>Kirloskar i-CM process pumps are mainly used for chemical and process handling applications, which are free from suspended solids particles. I-CM process pumps are ideal for pumping corrosive and noxious fluids.</p>
        </div>
    <p id="line" ></p>
    </div>

    <!--mobile view  -->
    <div class="conteudo">
        <div class="carrousel">
            <div class="carrd">
                <p id="chemimg1" class="crdsimg"></p>
                <strong class="hmaterrial">Mobile Dewatering/Flood Control Unit - Autoprime Pump-set</strong>
                <p class="inmaterrial">The Autoprime pump by KBL, is a unique mobile pumping unit used for dewatering purposes, primarily during a flood-like situation. The pump set comes with an easy plug and play for quick startup and requires no manual intervention during priming, which makes it very easy to operate.</p>
            </div>

            <div class="carrd">
                <p id="chemimg2" class="crdsimg"></p>
                <strong class="hmaterrial">Solid Handling Pump - SHM</strong>
                <p class="inmaterrial" style="margin-top: 65px;">Kirloskar SHM solid handling pumps are single stage, single suction pumps with a back pull out type design. These are horizontal non-clog pumps while SHS are vertical non-clog pumps used for wet pit applications. These solid handling pumps can be offered with a column length up to 6.5m.</p>
            </div>

            <div class="carrd">
                <p id="chemimg3" class="crdsimg"></p>
                <strong class="hmaterrial">Submersible Sewage Dewatering Pump - BW</strong>
                <p class="inmaterrial"> Removing stagnant water from basement/underground parkings/garages, etc., draining accumulated storm water during monsoon, emptying water tanks and pits for cleaning, draining waste water from kitchens, hotels, clubs, etc., removing surplus water from sumps.</p>
            </div>

            <div class="carrd">
                <p id="chemimg4" class="crdsimg"></p>
                <strong class="hmaterrial">Submersible Sewage Dewatering Pump - CW</strong>
                <p class="inmaterrial">Sewage pumping, dewatering from basements, multi-storeys, shopping malls, godowns, construction site ,trenches and pits, flood water handling.</p>
            </div>
        </div>  
    </div>

    <p id="pointirrig"></p>

<!-- --------------------------------------------------------------- -->

    <p class="catgheading" style="margin-top: 22px;">
        Irrigation
    </p>

    <div class="crds">
        <div class="cards" id="irrigcrd1">
            <p id="irrigimg1" class="crdsimg"></p>
            <strong class="crdhead">End Suction Pump - DBxe</strong>
            <p>DBxe pump series is energy-efficient and complies with the requirement of Minimum Efficiency Index MEI ≥ 0.7 for water pumps as per EN 16480. They are of a back-pull-out design which enables to the removal of the rotating unit of the pump for inspection and repairs without disturbing the pipe connections and motor by using spacer-type coupling.</p>
        </div>

        <div class="cards" id="irrigcrd2">
            <p id="irrigimg2" class="crdsimg"></p>
            <strong class="crdhead">Mixed Flow Pump - MF</strong> 
            <p>Kirloskar MF pumps are single stage, horizontal spindle volute type foot-mounted end suction pumps fitted with oil lubricated ball bearings and thrust bearing. These are low head and high capacity water pumps available with either horizontal or vertical delivery options. MF water pumps are provided with semi-open type mixed flow impeller.</p>
        </div>

        <div class="cards" id="irrigcrd3">
            <p id="irrigimg3" class="crdsimg"></p>
            <strong class="crdhead">End Suction Pump - DB</strong>
            <p>Kirloskar DB pumps are of back-pull-out design which enables to remove the rotating unit of pump for inspection and repairs without disturbing the pipe connections and motor by using spacer type coupling. The complete range of DB pump is covered by three driving units thereby reducing inventory and achieving interchangeability of parts.</p>
        </div>

        <div class="cards" id="irrigcrd4">
            <p id="irrigimg4" class="crdsimg"></p>
            <strong class="crdhead">Solid Handling Pump - SHM</strong>
            <p>SHM solid handling pumps are single stage, single suction pumps with a back pull out type design. These are horizontal non-clog pumps while SHS are vertical non-clog pumps used for wet pit applications. The pump section is suspended by a column pipe. These solid handling pumps can be offered with a column length up to 6.5 m.</p>
        </div>
    <p id="line" ></p>
    </div>

    <!--mobile view  -->
    <div class="conteudo">
        <div class="carrousel">
            <div class="carrd">
                <p id="irrigimg1" class="crdsimg"></p>
                <strong class="hmaterrial">End Suction Pump - DBxe</strong>
                <p class="inmaterrial">DBxe pump series is energy-efficient and complies with the requirement of Minimum Efficiency Index MEI ≥ 0.7 for water pumps as per EN 16480. They are of a back-pull-out design which enables to the removal of the rotating unit of the pump for inspection and repairs without disturbing the pipe connections and motor by using spacer-type coupling.</p>
            </div>

            <div class="carrd">
                <p id="irrigimg2" class="crdsimg"></p>
                <strong class="hmaterrial">Mixed Flow Pump - MF</strong>
                <p class="inmaterrial">Kirloskar MF pumps are single stage, horizontal spindle volute type foot-mounted end suction pumps fitted with oil lubricated ball bearings and thrust bearing. These are low head and high capacity water pumps available with either horizontal or vertical delivery options. MF water pumps are provided with semi-open type mixed flow impeller.</p>
            </div>

            <div class="carrd">
                <p id="irrigimg3" class="crdsimg"></p>
                <strong class="hmaterrial">End Suction Pump - DB</strong>
                <p class="inmaterrial" style="margin-top: 65px;"> Kirloskar DB pumps are of back-pull-out design which enables to remove the rotating unit of pump for inspection and repairs without disturbing the pipe connections and motor by using spacer type coupling. The complete range of DB pump is covered by three driving units thereby reducing inventory and achieving interchangeability of parts.</p>
            </div>

            <div class="carrd">
                <p id="irrigimg4" class="crdsimg"></p>
                <strong class="hmaterrial">Solid Handling Pump - SHM</strong>
                <p class="inmaterrial" style="margin-top: 65px;">SHM solid handling pumps are single stage, single suction pumps with a back pull out type design. These are horizontal non-clog pumps while SHS are vertical non-clog pumps used for wet pit applications. The pump section is suspended by a column pipe. These solid handling pumps can be offered with a column length up to 6.5 m.</p>
            </div>
        </div>  
    </div>

    <p id="pointog"></p>
    
<!-- --------------------------------------------------------------- -->

    <p class="catgheading" style="margin-top: 22px;">
        Oil and Gas
    </p>

    <div class="crds">
        <div class="cards" id="ogcrd1">
            <p id="ogimg1" class="crdsimg"></p>
            <strong class="crdhead">End Suction Process Pump - KPD</strong>
            <p>KPD process pumps are used for handling various types of chemical liquids. These process pumps are manufactured to close tolerance and are of rigid construction. However, proper installation, operation and maintenance are equally important to ensure trouble free service. come with an enclosed impeller with casing cover for heating | cooling arrangement.</p>
        </div>

        <div class="cards" id="ogcrd2">
            <p id="ogimg2" class="crdsimg"></p>
            <strong class="crdhead">End Suction Pump - DBxe</strong> 
            <p>DBxe pump series is energy-efficient and complies with the requirement of Minimum Efficiency Index MEI ≥ 0.7 for water pumps as per EN 16480. They are of a back-pull-out design which enables to the removal of the rotating unit of the pump for inspection and repairs without disturbing the pipe connections and motor by using spacer-type coupling.</p>
        </div>

        <div class="cards" id="ogcrd3">
            <p id="ogimg3" class="crdsimg"></p>
            <strong class="crdhead">Multi-stage Pump - RKB/RKBF/RKBK</strong>
            <p>Kirloskar RKB series is a horizontal multistage centrifugal pump. Horizontal multistage centrifugal pumps are side suction pumps with vertical delivery and diffuser type casing. RKB horizontal multistage centrifugal pumps have standard grease lubrication, suitable for coupling with electric motors.</p>
        </div>

        <div class="cards" id="ogcrd4">
            <p id="ogimg4" class="crdsimg"></p>
            <strong class="crdhead">Split Case Pump - SCT - Extended</strong> <br><br>
            <p>SCT extended pumps are horizontally axially split casing, single stage pumps. SCT extended pumps are either double suction or single suction pumps with horizontal shaft and detachable stuffing box. The impeller is accurately balanced by a double or single suction.</p>
        </div>
    <p id="line" ></p>
    </div>

    <!--mobile view  -->
    <div class="conteudo">
        <div class="carrousel">
            <div class="carrd">
                <p id="ogimg1" class="crdsimg"></p>
                <strong class="hmaterrial">End Suction Process Pump - KPD</strong>
                <p class="inmaterrial">KPD process pumps are used for handling various types of chemical liquids. These process pumps are manufactured to close tolerance and are of rigid construction. However, proper installation, operation and maintenance are equally important to ensure trouble free service. come with an enclosed impeller with casing cover for heating | cooling arrangement.</p>
            </div>

            <div class="carrd">
                <p id="ogimg2" class="crdsimg"></p>
                <strong class="hmaterrial">End Suction Pump - DBxe</strong>
                <p class="inmaterrial">DBxe pump series is energy-efficient and complies with the requirement of Minimum Efficiency Index MEI ≥ 0.7 for water pumps as per EN 16480. They are of a back-pull-out design which enables to the removal of the rotating unit of the pump for inspection and repairs without disturbing the pipe connections and motor by using spacer-type coupling.</p>
            </div>

            <div class="carrd">
                <p id="ogimg3" class="crdsimg"></p>
                <strong class="hmaterrial">Multi-stage Pump - RKB/RKBF/RKBK</strong>
                <p class="inmaterrial">Kirloskar RKB series is a horizontal multistage centrifugal pump. Horizontal multistage centrifugal pumps are side suction pumps with vertical delivery and diffuser type casing. RKB horizontal multistage centrifugal pumps have standard grease lubrication, suitable for coupling with electric motors.</p>
            </div>

            <div class="carrd">
                <p id="ogimg4" class="crdsimg"></p>
                <strong class="hmaterrial">Split Case Pump - SCT - Extended</strong>
                <p class="inmaterrial">SCT extended pumps are horizontally axially split casing, single stage pumps. SCT extended pumps are either double suction or single suction pumps with horizontal shaft and detachable stuffing box. The impeller is accurately balanced by a double or single suction.</p>
            </div>
        </div>  
    </div>

    <p id="pointsteel"></p>

<!-- --------------------------------------------------------------- -->

    <p class="catgheading" style="margin-top: 22px;">
    Steel
    </p>

    <div class="crds">
        <div class="cards" id="steelcrd1">
            <p id="steelimg1" class="crdsimg"></p>
            <strong class="crdhead">Large Vertical Turbine Pump - BHR/BHQ/BHM</strong>
            <p>Pumps are constructed rigidly to ensure vibration free operation. BHR pumps are designed for smooth inflow of water with minimum losses. The hydraulic design of these pumps is being updated with our continuous R&D efforts to meet the concerned higher efficiency.</p>
        </div>

        <div class="cards" id="steelcrd2">
            <p id="steelimg2" class="crdsimg"></p>
            <strong class="crdhead">Solid Handling Sump Pump - KPDS</strong> <br><br>
            <p>Kirloskar KPDS sump pump is used for process applications. It has a wide range of applications in various chemical process industries. KPD-S type sump pumps are manufactured to close tolerances and as per rigid specifications.</p>
        </div>

        <div class="cards" id="steelcrd3">
            <p id="steelimg3" class="crdsimg"></p>
            <strong class="crdhead">Multi-stage Pump - RKB/RKBF/RKBK</strong>
            <p>Kirloskar RKB series is a horizontal multistage centrifugal pump. Horizontal multistage centrifugal pumps are side suction pumps with vertical delivery and diffuser type casing. RKB horizontal multistage centrifugal pumps have standard grease lubrication, suitable for coupling with electric motors.</p>
        </div>

        <div class="cards" id="steelcrd4">
            <p id="steelimg4" class="crdsimg"></p>
            <strong class="crdhead">Split Case Pump - SCT - Extended</strong> <br><br>
            <p>SCT extended pumps are horizontally axially split casing, single stage pumps. SCT extended pumps are either double suction or single suction pumps with horizontal shaft and detachable stuffing box. The impeller is accurately balanced by a double or single suction.</p>
        </div>
    <p id="line" ></p>
    </div>
   
    <!--mobile view  -->
    <div class="conteudo">
        <div class="carrousel">
            <div class="carrd">
                <p id="steelimg1" class="crdsimg"></p>
                <strong class="hmaterrial">Large Vertical Turbine Pump - BHR/BHQ/BHM</strong>
                <p class="inmaterrial">Pumps are constructed rigidly to ensure vibration free operation. BHR pumps are designed for smooth inflow of water with minimum losses. The hydraulic design of these pumps is being updated with our continuous R&D efforts to meet the concerned higher efficiency.</p>
            </div>

            <div class="carrd">
                <p id="steelimg2" class="crdsimg"></p>
                <strong class="hmaterrial">Solid Handling Sump Pump - KPDS</strong>
                <p class="inmaterrial">Kirloskar KPDS sump pump is used for process applications. It has a wide range of applications in various chemical process industries. KPD-S type sump pumps are manufactured to close tolerances and as per rigid specifications.</p>
            </div>

            <div class="carrd">
                <p id="steelimg3" class="crdsimg"></p>
                <strong class="hmaterrial">Multi-stage Pump - RKB/RKBF/RKBK</strong>
                <p class="inmaterrial">Kirloskar RKB series is a horizontal multistage centrifugal pump. Horizontal multistage centrifugal pumps are side suction pumps with vertical delivery and diffuser type casing. RKB horizontal multistage centrifugal pumps have standard grease lubrication, suitable for coupling with electric motors.</p>
            </div>

            <div class="carrd">
                <p id="steelimg4" class="crdsimg"></p>
                <strong class="hmaterrial">Split Case Pump - SCT - Extended</strong>
                <p class="inmaterrial">SCT extended pumps are horizontally axially split casing, single stage pumps. SCT extended pumps are either double suction or single suction pumps with horizontal shaft and detachable stuffing box. The impeller is accurately balanced by a double or single suction.</p>
            </div>
        </div>  
    </div>

    <p id="pointsugar"></p>

<!-- --------------------------------------------------------------- -->

    <p class="catgheading" style="margin-top: 22px;">
    Sugar
    </p>

    <div class="crds">
        <div class="cards" id="sugarcrd1">
            <p id="sugarimg1" class="crdsimg"></p>
            <strong class="crdhead">Mixed Flow Pump - MF</strong>
            <p>Kirloskar MF pumps are single stage, horizontal spindle volute type, foot-mounted end suction pumps, fitted with oil lubricated ball bearings and thrust bearing. These are low head and high capacity water pumps available with either horizontal or vertical delivery options. MF-E and MF-X pumps are provided with enclosed type mixed flow impeller.</p>
        </div>

        <div class="cards" id="sugarcrd2">
            <p id="sugarimg2" class="crdsimg"></p>
            <strong class="crdhead">Solid Handling Pump - NK</strong> 
            <p>Effluents, sewage, muddy, viscous, contaminated liquids containing solids in suspension, in sugar factories, sewage pumping stations as well as chemical, fertiliser, pulp and paper, food and steel industries</p>
        </div>

        <div class="cards" id="sugarcrd3">
            <p id="sugarimg3" class="crdsimg"></p>
            <strong class="crdhead">End Suction Pump - DBL</strong>
            <p>Kirloskar DB large pumps equip a back-pull-out design which enables to remove the rotating unit of pump for inspection and repairs without disturbing the pipe connections and motor by using spacer type coupling. The complete range of DB large pump is covered by three driving units thereby reducing inventory and achieving interchangeability of parts.</p>
        </div>

        <div class="cards" id="sugarcrd4">
            <p id="sugarimg4" class="crdsimg"></p>
            <strong class="crdhead">Large Vertical Turbine Pump - BHR/BHQ/BHM</strong>
            <p>Pumps are constructed rigidly to ensure vibration free operation. BHR pumps are designed for smooth inflow of water with minimum losses. The hydraulic design of these pumps is being updated with our continuous R&D efforts to meet the concerned higher efficiency.</p>
            <p id="pointsugar"></p>
        </div>
    </div>

    <!--mobile view  -->
    <div class="conteudo">
        <div class="carrousel">
            <div class="carrd">
                <p id="sugarimg1" class="crdsimg"></p>
                <strong class="hmaterrial">ixed Flow Pump - MF</strong>
                <p class="inmaterrial">Kirloskar MF pumps are single stage, horizontal spindle volute type, foot-mounted end suction pumps, fitted with oil lubricated ball bearings and thrust bearing. These are low head and high capacity water pumps available with either horizontal or vertical delivery options. MF-E and MF-X pumps are provided with enclosed type mixed flow impeller.</p>
            </div>

            <div class="carrd">
                <p id="sugarimg2" class="crdsimg"></p>
                <strong class="hmaterrial">Solid Handling Pump - NK</strong>
                <p class="inmaterrial">Effluents, sewage, muddy, viscous, contaminated liquids containing solids in suspension, in sugar factories, sewage pumping stations as well as chemical, fertiliser, pulp and paper, food and steel industries</p>
            </div>

            <div class="carrd">
                <p id="sugarimg3" class="crdsimg"></p>
                <strong class="hmaterrial">End Suction Pump - DBL</strong>
                <p class="inmaterrial">Kirloskar DB large pumps equip a back-pull-out design which enables to remove the rotating unit of pump for inspection and repairs without disturbing the pipe connections and motor by using spacer type coupling. The complete range of DB large pump is covered by three driving units thereby reducing inventory and achieving interchangeability of parts.</p>
            </div>

            <div class="carrd">
                <p id="sugarimg4" class="crdsimg"></p>
                <strong class="hmaterrial">Large Vertical Turbine Pump - BHR/BHQ/BHM</strong>
                <p class="inmaterrial">Pumps are constructed rigidly to ensure vibration free operation. BHR pumps are designed for smooth inflow of water with minimum losses. The hydraulic design of these pumps is being updated with our continuous R&D efforts to meet the concerned higher efficiency.</p>
            </div>
        </div>  
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------- -->

    <div id="enquiry">
        <p id="reachus">REACH US</p>
        <p id="feelfree">Feel free to send us a message...</p>
        <p id="contactimg"></p>

        <form id="formin" method="post">
            <p id="namein" class="nmm">Name:</p>  <input type="text" name="name" class="inclass" placeholder="" id="namin"> <br style="user-select: none;">
            <p id="mailin" class="nmm">Email:</p> <input type="text" name="email" class="inclass" placeholder="" id="emaiin"> <br style="user-select: none;">
            <p id="messagein" class="nmm">Message:</p> <textarea name="message" cols="37" rows="3" class="inclass" placeholder="" id="messagin"></textarea>
            <input type="submit" value="Send" id="bsubmit">
        </form>
        
        <p id="vertline"></p>
        
        <div id="def">
            <p id="want">Want a Detailed Enquiry?</p>
            <p id="fill">Fill out our enquiry form for better result!</p>
            <input type="button" value="form" id="bform">
        </div>
    </div>


    <div id="enquiry1">
        <div id="ru">
            <p id="reachus1">REACH US</p>
            <p id="feelfree1">Feel free to send us a message...</p>
            <p id="contactimg1"></p>
        </div>

        <form id="formin1" method="post" action="/">
            <p id="namein1" class="nmm1">Name:</p>  <input type="text" name="name" class="inclass1" placeholder="" id="namin1"> <br style="user-select: none;">
            <p id="mailin1" class="nmm1">Email:</p> <input type="text" name="email" class="inclass1" placeholder="" id="emaiin1"> <br style="user-select: none;">
            <p id="messagein1" class="nmm1">Message:</p> <textarea name="message" cols="37" rows="3" class="inclass1" placeholder="" id="messagin1"></textarea>
            <input type="submit" value="Send" id="bsubmit1">
        </form>

        <p id="horizline"></p>
            
        <div id="def1">
            <p id="want1">Want a Detailed Enquiry?</p>
            <p id="fill1">Fill out our enquiry form for better result!</p>
            <input type="button" value="Form" id="bform1">
        </div>
    </div>
    


    <div id="footer">
        <p id="footlogo"></p>

        <p id="addr">
            Office Address: <br>
            SAMARTH ENTERPRISES <br>
            Plot Number - RM 156, MIDC Waluj <br>
            C.Sambhji Nagar - 431136 <br><br>
            
            Phone-Number: 0240-255266 <br>
            Mobile: +91-9960066435 <br>
            Mobile: +91-9049794992 <br>
        </p> 
    
        <p id="followus">FOLLOW US</p>
    
        <div id="blogos">
            <a href="" id="fi" class="sml"></a>
            <a href="" id="ii" class="sml"></a>
            <a href="" id="li" class="sml"></a>
        </div>

       <p id="copyright">©Copyright 2024 Samarth Enterprises | All rights reserved</p>
    </div>
</div>





</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        once: true,
        easing: 'ease-in-out',
    });
</script>

<script>
let bsubmit = document.querySelector("#bsubmit");

bsubmit.addEventListener('click',()=>{
    let name = document.querySelector("#namin").value;
    let email= document.querySelector("#emaiin").value;
    let n = email.length;
    let substring = email.slice(n-10, n); 

    if(email!="" && name!="" && substring=="@gmail.com")
    {
        alert("Thankyou for sharing your details with us. We will contact you soon.");
    }
    else
    {
        alert("Please fill the following details carefully.");   
    }
});
// -----------------------------------------

let dropdown1 = document.getElementById("dropdown1");
let ddline1 = document.getElementById("ddline1");

dropdown1.addEventListener('click',function () {
    let ddopts = document.getElementById("ddopts");
    let scwidth = screen.width;
    
    if(scwidth>400 && scwidth<950)
    {
        if(ddopts.style.display!="inline-block")
        {
            ddopts.style.display="inline-block";
            document.getElementById("ddline1").style.transform='rotate(45deg)';
            document.getElementById("ddline1").style.marginTop='22px';
            document.getElementById("ddline2").style.display='none';
            document.getElementById("ddline3").style.transform='rotate(-45deg)';
            document.getElementById("ddline3").style.marginTop='22px';
        }
        else{
            ddopts.style.display="none";
            document.getElementById("ddline1").style.transform='rotate(0.1deg)';
            document.getElementById("ddline1").style.marginTop='0px';
            document.getElementById("ddline2").style.display='inline-block';
            document.getElementById("ddline3").style.transform='rotate(-0.1deg)';
            document.getElementById("ddline3").style.marginTop='40px';
        }
    }

    if(scwidth<400)
    {
        if(ddopts.style.display!="inline-block")
        {
            ddopts.style.display="inline-block";
            document.getElementById("ddline1").style.transform='rotate(45deg)';
            document.getElementById("ddline1").style.marginTop='5.5vw';
            document.getElementById("ddline2").style.display='none';
            document.getElementById("ddline3").style.transform='rotate(-45deg)';
            document.getElementById("ddline3").style.marginTop='5.5vw';
        }
        else{
            ddopts.style.display="none";
            document.getElementById("ddline1").style.transform='rotate(0.1deg)';
            document.getElementById("ddline1").style.marginTop='0px';
            document.getElementById("ddline2").style.display='inline-block';
            document.getElementById("ddline3").style.transform='rotate(-0.1deg)';
            document.getElementById("ddline3").style.marginTop='10vw';
        }
    }
});

window.addEventListener('click',()=>{
    if(event.target.id!='dropdown1')
    {
        if(scwidth>400 && scwidth<950)
        {
            ddopts.style.display="none";
            document.getElementById("ddline1").style.transform='rotate(0.1deg)';
            document.getElementById("ddline1").style.marginTop='0px';
            document.getElementById("ddline2").style.display='inline-block';
            document.getElementById("ddline3").style.transform='rotate(-0.1deg)';
            document.getElementById("ddline3").style.marginTop='40px';
        }

        if(scwidth<400)
        {
            let ddopts = document.getElementById("ddopts");
            ddopts.style.display="none";
            document.getElementById("ddline1").style.transform='rotate(0.1deg)';
            document.getElementById("ddline1").style.marginTop='0px';
            document.getElementById("ddline2").style.display='inline-block';
            document.getElementById("ddline3").style.transform='rotate(-0.1deg)';
            document.getElementById("ddline3").style.marginTop='10vw';
        }

       
    }
})
//---------------------------
let scrollup = getElementById('scrollup');
scrollup.addEventListener('click',()=>{
    scrollup.style.opacity="1";
});
</script>



</html>